@keyframes box-left-disappear {

  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(-10px); }

}

@keyframes box-right-appear {

  0% { opacity: 0; transform: translateX(10px); }
  100% { opacity: 1; transform: translateX(0); }

}
