$black-text-color:			#333;
$main-color:				white;
$accent-color:				blue;
$accent-pale-color:			rgba(0, 0,  255, .13);
$accent-pale-darker-color: 	rgba(17, 17, 255, .2);
$accent-medium-color:  		rgba(0, 0, 255, .5);
$accent-darker-color:		#00d;
$unaccent-color:			rgba(102, 102, 119, .8);
$unaccent-darker-color:		rgb(102, 102, 119);
$unaccent-dark-color:		#556;
$opacity-color:				rgba(0,0,0,.1);
$opacity-darker-color:		#d9d9d9;
$light-color:				#f1f1f1;

$std-transition:			.15s;

$first-level-media:			885px;