<div id="root-main-page" *ngIf="authorized">
	<aside>
		<nav>
			<a
				routerLinkActive="selected"
				routerLink="observe"
			>
				<fa-icon [icon]="faMagic" class="fa-magic"></fa-icon>
				<span>Огляд</span>
			</a>
			<a
				routerLinkActive="selected"
				routerLink="playlists"
			>
				<fa-icon [icon]="faList" class="fa-list"></fa-icon>
				<span>Плейлисти</span>
			</a>
			<a
				routerLinkActive="selected"
				routerLink="tracks"
			>
				<fa-icon [icon]="faMusic" class="fa-music"></fa-icon>
				<span>Музика</span>
			</a>
			<a
				routerLinkActive="selected"
				routerLink="settings"
			>
				<fa-icon [icon]="faCogs" class="fa-cogs"></fa-icon>
				<span>Налаштування</span>
			</a>
		</nav>
	</aside>
	<div class="content-wrapper">
		<app-player></app-player>
		<router-outlet></router-outlet>
	</div>
</div>
<div class="box center-w" id="loginBox" *ngIf="!authorized">
	<h1>playlist</h1>
	<span>Увійдіть, щоби продовжити</span>
	<div class="full-w-column">
		<input type="text" class="max-long-in-column" name="login" placeholder="Логін" tabindex="1" autofocus="" id="login-login-input" (change)="this.inputLogin = $event.target.value">
		<input type="password" class="max-long-in-column" name="password" placeholder="Пароль" tabindex="2" id="login-password-input" (change)="this.inputPassword = $event.target.value">
	</div>
	<div class="h-row controls-row top-spacing">
		<input type="submit" value="Увійти" tabindex="3" id="login-login-button" (click)="login()">
		<input type="submit" class="bordered" value="Зареєструватись" tabindex="4" id="login-register-button">
	</div>
</div>