<div id="root-main-page">
	<aside>
		<nav>
			<a class="selected">
				<fa-icon [icon]="faMagic" class="fa-magic"></fa-icon>
				<span>Огляд</span>
			</a>
			<a>
				<fa-icon [icon]="faList" class="fa-list"></fa-icon>
				<span>Плейлисти</span>
			</a>
			<a>
				<fa-icon [icon]="faMusic" class="fa-music"></fa-icon>
				<span>Музика</span>
			</a>
			<a class="top-spacing">
				<fa-icon [icon]="faCogs" class="fa-cogs"></fa-icon>
				<span>Налаштування</span>
			</a>
		</nav>
	</aside>
	<div class="content-wrapper">
		<app-player></app-player>
		<app-main-page></app-main-page>
	</div>
</div>
