<div 
	*ngFor='let track of tracks'
	class="audio-box no-playing h-row space-between"
>
	<div class="h-row center-aligning">
		<button class="opaque play toggle-icon">
			<fa-icon [icon]="faPlay" class="fa-play"></fa-icon>
			<fa-icon [icon]="faPause" class="fa-pause"></fa-icon>
		</button>
		<div class="info">
			<b>{{track.name}}</b>
			<span>{{track.author}}</span>
		</div>
	</div>
	<div class="h-row center-aligning">
		<span class="duration">{{track.duration}}</span>
		<button class="opaque">
			<fa-icon [icon]="faEllipsisH" class="fa-ellipsis-h"></fa-icon>
		</button>
	</div>
</div>