<div class="content box appear" id="upload">
	<h1>Завантажити запис</h1>
	<p>Ви можете завантажити запис, якщо володієте відповідними авторськими правами, або він перебуває у вільному доступі.</p>
	<div class="h-row controls-row">
		<input (change)="trackAuthor=this.value" type="text" placeholder="Виконавець" tabindex="1" autofocus>
		<input (change)="trackName=this.value" type="text" placeholder="Назва запису" tabindex="2">
	</div>
	<p>Додайте файл у форматі .mp3, .wav, .ogg або .mp4 розміром не більше 15 мб.</p>
	<input type="file" id="file-audio" tabindex="3" class="bordered" (change)="chooseFile($event)">
	<label for="file-audio">Обрати файл</label>
	<button [ngClass]="{
		'disabled' : isDisabled,
		'enabled' : !isDisabled
	}" class="break-line top-spacing" tabindex="4" (click)="uploadFile($event)">Завершити</button>
</div>