<div class="content box appear" id="settings">
	<h1>Налаштування</h1>
	<p>Тут ви можете змінити інформацію про себе.</p>
	<input type="text" placeholder="Ім'я" class="long-in-column" tabindex="1" autofocus><br>
	<input type="text" placeholder="Логін" class="long-in-column" tabindex="1"><br>
	<input type="password" placeholder="Пароль" class="long-in-column" tabindex="2"><br>
	<input type="password" placeholder="Підтвердження пароля" class="long-in-column" tabindex="3"><br>
	<button class="top-spacing">Зберегти</button>
	<p>Вихід завершить сеанс лише на цьому пристрої.</p>
	<button class="bordered">Вийти</button>
</div>