<div class="content box appear" id="music">
	<div class="h-row controls-row">
		<button>
			<fa-icon [icon]="faCloudUploadAlt" class="fa-cloud-upload-alt" routerLink="/upload"></fa-icon>
		</button>
		<button class="bordered" routerLink="/uploads">Керувати завантаженнями</button>
	</div>
	<div class="header-buttons space-between wrap-with-width">
		<h1>Моя музика</h1>
		<div class="grow-wrapper">
			<input class="search floated" type="text" placeholder="Пошук" required>
		</div>
	</div>
	<span class="subheader">Тут уся музика та вміст плейлистів.</span>
	<app-track-gallery source="all"></app-track-gallery>
	<!--<button>Показати ще</button>-->
</div>