@import 'box';

@mixin show-toggle-button-icon {
  opacity: 1;
	z-index: 2;
}

@mixin input-bottom-border($color) {
	box-shadow: 0 -2px 0 0 inset $color;
}

@mixin button-behaviour {

	padding: {
		left: 20px;
		right: 20px;
	}
	cursor: pointer;

	&.opaque {
		background: transparent;
	}
	
	&.toggle-icon {
		display: grid;
	}
	
	&.toggle-icon i {
		grid-column: 1;
		grid-row: 1;
		opacity: 0;
		z-index: 1;
		transition: $std-transition;
	}
	
	&:not(.opaque), &.bordered:hover {
		background: $accent-color;
		color: $main-color;
		box-shadow: 0 0 0 2px $accent-color inset;
		@include box-rounding;
	}

	&:hover, &.bordered {
		background: transparent;
		color: $accent-color;

	}

	&:not(.opaque):not(.bordered):active {
		box-shadow: 0 0 0 4px $accent-color inset;
	}

}

@mixin text-input-behaviour {

	@include input-bottom-border($opacity-color);

	&:hover {
		@include input-bottom-border($opacity-darker-color);
	}

	&:focus {
		@include input-bottom-border($accent-color);
	}

}

input, button {
	border: 0;
	font: inherit;
	transition: $std-transition;
	padding: {
		top: 10px;
		bottom: 10px;
	}
}

button, input[type="submit"], input[type="reset"] {
	@include button-behaviour;
}

input[type="text"], input[type="password"]{
	@include text-input-behaviour;
}

input.search {
	
	&.floated {

		@media (min-width: $first-level-media) {
			float: right;
		}

		margin: 40px 0;
		width: 200px;
	}
	
	&.floated:focus, &.floated:valid {
		width: 300px;
	}
	
	&:valid {
		@include input-bottom-border($accent-color);
	}
	
}
