@mixin button-behaviour {
	
	&, &.bordered:hover {
		padding: {
			left: 20px;
			right: 20px;
		}
		background: $accent-color;
		color: $main-color;
		cursor: pointer;
		box-shadow: 0 0 0 2px $accent-color inset;		
	}

	&:hover, &.bordered {
		background: transparent;
		color: $accent-color;

	}

	&:not(.bordered):active {
		box-shadow: 0 0 0 4px $accent-color inset;
	}

}

@mixin text-input-behaviour {

	box-shadow: 0 -2px 0 0 inset $opacity-color;		

	&:hover {
		box-shadow: 0 -2px 0 0 inset $opacity-darker-color;
	}

	&:focus {
		box-shadow: 0 -2px 0 0 inset $accent-color;
	}

}

input, button {
	border: 0;
	font: inherit;
	transition: $std-transition;
	padding: {
		top: 10px;
		bottom: 10px;
	}
}

button, input[type="submit"], input[type="reset"] {
	@include button-behaviour;
}

input[type="text"], input[type="password"]{
	@include text-input-behaviour;
}
