@mixin column-flex {
	display: flex;
	flex-direction: column;
}

@mixin row-flex {
	display: flex;
	flex-direction: row;
}

.full-w-column {
	@include column-flex;
}

.h-row {
	@include row-flex;
}

.h-row.wrap-with-width, .header-buttons.wrap-with-width {
	
	@media (max-width: $first-level-media) {
		flex-wrap: wrap;
	}

}

.h-row .grow-wrapper, .header-buttons .grow-wrapper {
	flex-grow: 1;
}

.h-row.allow-wrapping{
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.center-aligning {
	align-items: center;
}

.header-buttons {
	
	@include row-flex;
	margin-bottom: 40px;
	align-items: center;
	
	&:not(:first-child) {
		margin-top: 40px;
	}
  
	h1 {
		margin: 0 20px 0 0;
	}
  
}
