@import 'box';
@import 'animations';

#main-page {

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 50px 0;
	
	@media (max-width: $first-level-media) {
		padding: 0;
		justify-content: left;
	}

	.content-wrapper {

		@media (max-width: $first-level-media) {
			flex-grow: 1;
		}

		@media (min-width: $first-level-media) {
			width: 690px;
		}
		
	}

	.content {

		width: auto;
		animation-fill-mode: forwards;
		animation-duration: .15s;

	}

	.content.disappear {
		animation-name: box-left-disappear;
	}
	
	.content.appear {
		animation-name: box-right-appear;
	}

	.content.hidden {
		display: none;
	}

}

aside {
	position: sticky;
	top: 0;
}

.h-row .playlist {

	margin-right: 30px;
	cursor: pointer;
	
	&:last-child {
		margin-right: 0;
	}
	
	img {

		width: 130px;
		height: 130px;
		display: block;
		@include box-hard-shadowing;
		@include box-rounding;
		transition: $std-transition;
		
	}
	
	img:hover {
		@include box-hard-darker-shadowing;
	}

}

.audio-box {

	cursor: pointer;
	transition: $std-transition;
	background: $light-color;
	margin-bottom: 15px;
	padding: 0;
	padding: 10px;
	@include box-rounding;
	
	&.playing {

		background: $accent-pale-color;
		color: $accent-color;

		.fa-pause {
			@include show-toggle-button-icon;
		}

	}

	&.no-playing {

		.fa-play {
			@include show-toggle-button-icon;
		}

	}
	
	&.playing:hover {
		background: $accent-pale-darker-color;
	}
	
	&.playing button.opaque {
		color: $accent-color;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
	
	&:hover {
		background: $opacity-color;
	}
	
	.info b {
		padding-right: 10px;
	}
	
}
